.content {
    margin: 10px;
}
.tabcontrol {
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-size:0;
}
.tabctl {
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    border: 1px solid #000000;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;    
    border-collapse: collapse;
}
.tabctl:not(.active) {
    background-color: #CCCCCC;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.tabctl.active {
    background-color: #FFFFFF;
    margin-bottom: -1px;
    padding-bottom: 6px;
}
.tabctl > span {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.tabbody {
    background-color: #FFFFFF;
    padding: 5px;
    border: 1px solid #000000;
}
.left {
    display: inline-block;
    border: solid 1px #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    width: 200px;
    margin-right: 10px;
}
.right {
    vertical-align: top;
    display: inline-block;
    width: 80%;
}
th {
    background-color: #CCCCCC;
}
.number {
    width: 40px;
}
.hidden {
    display: none !important;
}
.section-title {
    margin-top: 2px;
    border-radius: 3px;
    background-color: #999999;
    padding: 3px 5px 3px 5px;
}
.position {
    display: inline-block;
    vertical-align: top;
}
input[type=text] {
    width: 95%;
}
input[type=number] {
    width: 90%;
}
table {
    table-layout: fixed;
}